<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="css/stylev.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
  </script>
  <nav class="navbar navbar-expand-lg navbar fixed-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="../img/imgv/logo_transparent.png" width="100" height="100"
                alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav justify-content-end navi" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">About</a>
                    <ul class="dropdown-menu">
                        <li><a href="/aboutus" class="dropdown-item">About Us</a></li>
                        <li><a href="/contactus" class="dropdown-item">Contact Us</a></li>
                        <li><a href="/howtowork" class="dropdown-item">How to work</a></li>
                        <li><a href="/allprogram" class="dropdown-item">All Programs</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/apply">Apply</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signin">Sign In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</head>

<body>
  <br><br><br><br><br><br>
  <!-- Middle image -->
  <img src="../img/imgv/<%= featureprogram.coverimage%>" class="img-fluid text-align-center" width="100%" alt="Responsive image">
  
  <% if(featureprogram) {%>
  <div class="container">
    <br><br><br>
    <h1 class="text-left display-3 fw-bold text-muted topicC "><%= featureprogram.name%></h1>
    <aside>
      <div class="container">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
        <section class="about-cards-section">
          <div class="container text-right">
            <div class="row">
              <div class="card-wrapper">
                <h1 class="text-center text-danger text-des">Reviews</h1>
                <div class="position-relative rounded-circle overflow-hidden custom-circle-image" >
                  <img class="w-100 h-100"  src="../img/imgv/v2.jpg" alt="Card image cap">
                </div>
                  <div class="card-body ">
                    <h4 class="text-uppercase card-title text-center cardtitle text-danger">Carina</h4>
                    <p class="text-uppercase card-title text-center cardbody">Great&nbsp;Britain&nbsp;->&nbsp;Thailand&nbsp;</p>
                    <p class="card-text text-center cardbody">YIt has truly amazed me how much you can contribute to helping a community if you
                    only have the initiative to start it.</p>
                  </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </aside>
    <br>
    <div class="col-sm-6 square" style="background-color: #F6F0F0;">
      <br>
      <h1 class="text-left text-des text-danger "><%= featureprogram.topic%></h1>
      <p class="text-left text1-des">&nbsp;&nbsp;&nbsp;&nbsp;<%= featureprogram.discover_program%>
      </p>
      <br><br>
      <hr>
      <h1 class="text-left text-des text-danger"><%= featureprogram.topic2%></h1>
      <p class="text-left text1-des">&nbsp;&nbsp;&nbsp;&nbsp;<%= featureprogram.place_program%></p>
    </div>

    <br>
    <div class="col-sm-6 col-lg-12">
      <b>
        <h1 class="text-left text-des text-danger">Our Programs</h1>
      </b>
      <br>
      <img src="../img/imgv/<%= featureprogram.detailimage%>" class="img-fluid text-align-center" alt="Responsive image">
      <br><br>
      <p class="text-left text1-des"><%= featureprogram.detail%> </p>

      <br>
      <b>
        <h1 class="text-left text-des text-danger">Requirements</h1>
      </b>
      <br><br>
      <p class="text-left text1-des"><%= featureprogram.requirement%>
      </p>
    </div>


  </div>
  <% } %>
</body>

</html>