<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../css/stylev.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
  </script>
  <nav class="navbar navbar-expand-lg navbar fixed-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="../img/imgv/logo_transparent.png" width="100" height="100"
                alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav justify-content-end navi" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">About</a>
                    <ul class="dropdown-menu">
                        <li><a href="/aboutus" class="dropdown-item">About Us</a></li>
                        <li><a href="/contactus" class="dropdown-item">Contact Us</a></li>
                        <li><a href="/howtowork" class="dropdown-item">How to work</a></li>
                        <li><a href="/allprogram" class="dropdown-item">All Programs</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/apply">Apply</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signin">Sign In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</head>

<body>
  <br><br><br><br><br><br>
  <!-- Middle image -->
  <img src="../img/imgv/<%= featuredestination.image1%>" class="img-fluid text-align-center" width="100%" alt="Responsive image">
  <% if(featuredestination) {%>
  <div class="container">
    <br><br><br>
    <h1 class="text-left display-3 fw-bold text-muted topicC "><%= featuredestination.country%></h1>
    <h4 class="text-left mb-2 cardtitle"><%= featuredestination.info%></h4>

    <aside>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
      <section class="about-cards-section">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 card-wrapper ">
              <h1 class="text-center text-danger text-des ">Reviews</h1>
              <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                <img class="w-100 h-100" src="../img/imgv/v2.jpg" alt="Card image cap">
              </div>
              <div class="card-body ">
                <h4 class="text-uppercase card-title text-center cardtitle">Carina</h4>
                <p class="text-uppercase card-title text-center cardbody">Great&nbsp;Britain&nbsp;->&nbsp;Thailand&nbsp;</p>
                <p class="card-text text-center cardbody">YIt has truly amazed me how much you can contribute to helping a community if you
                  only have the initiative to start it.
                </p>
                <a href="/review" class="mt-auto btn btn-danger text-des text-center col-sm-12  ">Read More</a>
                
              </div>
              
            </div>
          </div>
        </div>
      </section>
    </aside>
    <br>
    <div class="col-sm-6 square" style="background-color: #F6F0F0;">
      <br>
      <h1 class="text-left text-des text-danger"><%= featuredestination.topic1%></h1>
      <p class="text-left text1-des">&nbsp;&nbsp;&nbsp;&nbsp;<%= featuredestination.info1%></p>
      <br><br>
      <hr>
      <h1 class="text-left text-des text-danger"><%= featuredestination.topic2%></h1>
      <p class="text-left text1-des">&nbsp;&nbsp;&nbsp;&nbsp;<%= featuredestination.info2%></p>
    </div>
    <br>
    <b>
      <h1 class="text-left text-des text-danger"><%= featuredestination.topic3%></h1>
    </b>
    <br>
    <img src="../img/imgv/<%= featuredestination.image2%>" class="img-fluid text-align-center" width="100%" alt="Responsive image">
    <br><br>
    <p class="text-left text1-des">&nbsp;&nbsp;&nbsp;&nbsp;<%= featuredestination.info3%></p>
  </div>

  </div>
  <% } %>
</body>

<!-- Footer -->
<footer class="text-center text-lg-start text-muted;">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem "></i>About Us
          </h6>
          <p>
            Our website collects places around the world that need help and volunteers can find for places that they
            want to go , providing opportunities to help those in need and enhance the quality of life in that places.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Blogs
          </h6>
          <p>
            <a href="#!" class="text-reset">United State</a>
          </p>
          <p>
            <a href="#!" class="text-reset">France</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Thailand</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vietnam</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem "></i>Customer Relationship
          </h6>
          <p>
            20 RAKAU GROVEES, STOKES VALLEY, WELLINGTON, NEW ZEALAND
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact Us
          </h6>
          <p><i class="fas fa-home me-3"></i> WELLINGTON, NEW ZEALAND</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            nattinee.nu@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

</html>